<form method="post" action="submit.php">

<div class="wrapper">
    <button id="add_more">Add More</button>
    <div>
        <input type="text" name="tags[]">
    </div>
</div>

    <input type="submit" name="submit" value="Submit">
    </form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {

        $( "#add_more" ).on( "click", function(e) { //on add input button click
            e.preventDefault();
                $(".wrapper").append('<div><input type="text" name="tags[]"/><a href="javascript:void(0);" class="remove_tag">Remove</a></div>'); //add input box
            });

        $(".wrapper").on('click', '.remove_tag', function(e){ //Once remove button is clicked
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
        });

    });

</script>